format => [program_path] [o] [sap_upload_root_path] [export_folder_name]
C:\eAccountingInterface\SCG.eAccounting.Interface.ImageFileIO.exe o E:\SCG.eAccounting.Web\SAPUpload\batch\eacc\ tne05_imagefile
