<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Untitled Page</title>
    <style type="text/css">
        </style>
</head>
<body style="font-family: Tahoma">

    <p> Dear $name$, </p>
    <table>
        <tr>
            <td>
                <input id="approve" type="button" value="Approve" style="width: 80px; height: 30px;"/>
            </td>
            <td>
                <input id="reject" type="button" value="Reject" style="width: 80px; height: 30px;"/>
            </td>
        </tr>
        <tr>
            <td>
                <input id="accept" type="button" value="Accept" style="width: 80px; height: 30px;"/>
            </td>
            <td>
                <input id="disagree1" type="button" value="Disagree" style="width: 80px; height: 30px;"/>
            </td>
        </tr>
         <tr>
            <td>
                <input id="agree" type="button" value="Agree" style="width: 80px; height: 30px;"/>
            </td>
            <td>
                <input id="disagree2" type="button" value="Disagree" style="width: 80px; height: 30px;"/>
            </td>
        </tr>
    </table>
    <p> There is a request for your approval from $userName$:$requestID$.</p>
    <table style="width: 50%">
        <tr>
            <td>
                $subject$
            </td>
            <td>
                $travelTo$
            </td>
            <td>
                $fromDate$
            </td>
            <td>
                $toDate$
            </td>
        </tr>
    </table>
    <p> $subject$   </p> 
    <p> RefID: $requestID$</p>
    <p> Please contact counter cashier. </p>
    
    <p> Sent by: SCG Account </p>

</body>
</html>
