<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCG.FN.DTO.Properties.Settings.eAccountingConnectionString"
            connectionString="Data Source=HQSQLSVR\SCG;Initial Catalog=eAccounting;Persist Security Info=True;User ID=account;Password=account"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>