<?xml version="1.0" encoding="utf-8" ?>
<Settings>
	<Globals>
		<Global Name="ReportServer">HQSQLSVR</Global>
		<Global Name="ReportServerPath">ReportServer$SCG</Global>
		<Global Name="CollapsedHeight">0.5in</Global>
	</Globals>
	<ReportServers>
		<ReportServer Name="RS1" Protocol="http" Host="${ReportServer}" Path="${ReportServerPath}" Timeout="30" />
	</ReportServers>
	<DataSources>
		<DataSource Name="eAccountingTraining" Publish="true" Overwrite="false" TargetFolder="eAccountingReportsTraining" ReportServer="RS1">
			<ConnectionString>data source=HQSQLSVR\SCG;initial catalog=eAccounting@SCG</ConnectionString>
			<CredentialRetrieval>Store</CredentialRetrieval>
			<WindowsCredentials>False</WindowsCredentials>
			<UserName>sa</UserName>
			<Password>sa@SCG</Password>
		</DataSource>
			</DataSources>

	<Reports>
		<ReportGroup Name="eAccountingReportsTraining" DataSourceName="eAccountingTraining" TargetFolder="eAccountingReportsTraining"
			ReportServer="RS1" CacheTime="10080">
			
			<Report Name="">
			   <FilePath></FilePath>
			</Report>
		</ReportGroup>
		</Reports>

			<DBExecutions>
        <DBExecution DataSourceName="eAccountingTraining">
            <DBFilePath>Search.LOAD.sql</DBFilePath>
            <DBFilePath>CachedMenus.LOAD.sql</DBFilePath>
        </DBExecution>
     </DBExecutions>

</Settings>