<?xml version="1.0" encoding="utf-8" ?>
<Settings>
	<Globals>
		<Global Name="ReportServer">172.30.48.120</Global>
		<Global Name="ReportServerPath">ReportServer</Global>
		<Global Name="CollapsedHeight">0.5in</Global>
	</Globals>
	<ReportServers>
		<ReportServer Name="RS1" Protocol="http" Host="${ReportServer}" Path="${ReportServerPath}" Timeout="30" />
	</ReportServers>
	<DataSources>
		<DataSource Name="ExpenseDataSource" Publish="true" Overwrite="true" TargetFolder="eAccountingReports" ReportServer="RS1">
			<ConnectionString>data source=SCGABSEXDB02;initial catalog=expense</ConnectionString>
			<CredentialRetrieval>Store</CredentialRetrieval>
			<WindowsCredentials>False</WindowsCredentials>
			<UserName>sa</UserName>
			<Password>scgaadmin#sathin</Password>
		</DataSource>
	</DataSources>
	<Reports>
		<ReportGroup Name="eAccountingReport" DataSourceName="ExpenseDataSource" TargetFolder="eAccountingReports"
			ReportServer="RS1" >
<Report Name="AdvReimbursementDomestic">
   <FilePath>AdvReimbursementDomestic.rdl</FilePath>
</Report>
<Report Name="AdvReimbursementForeign">
   <FilePath>AdvReimbursementForeign.rdl</FilePath>
</Report>
<Report Name="AdvReimbursementInvoiceDM">
   <FilePath>AdvReimbursementInvoiceDM.rdl</FilePath>
</Report>
<Report Name="AdvReimbursementInvoiceFR">
   <FilePath>AdvReimbursementInvoiceFR.rdl</FilePath>
</Report>
<Report Name="AdvReimbursementInvoiceItemDM">
   <FilePath>AdvReimbursementInvoiceItemDM.rdl</FilePath>
</Report>
<Report Name="AdvReimbursementInvoiceItemFR">
   <FilePath>AdvReimbursementInvoiceItemFR.rdl</FilePath>
</Report>
<Report Name="AdvReimbursementStatus">
   <FilePath>AdvReimbursementStatus.rdl</FilePath>
</Report>
<Report Name="AVReportBody">
   <FilePath>AVReportBody.rdl</FilePath>
</Report>
<Report Name="AVReportBodyFR">
   <FilePath>AVReportBodyFR.rdl</FilePath>
</Report>
<Report Name="AVReportDomestic">
   <FilePath>AVReportDomestic.rdl</FilePath>
</Report>
<Report Name="AVReportForeign">
   <FilePath>AVReportForeign.rdl</FilePath>
</Report>
<Report Name="AVReportHeader">
   <FilePath>AVReportHeader.rdl</FilePath>
</Report>
<Report Name="AVReportHeaderFR">
   <FilePath>AVReportHeaderFR.rdl</FilePath>
</Report>
<Report Name="AvReportReason">
   <FilePath>AvReportReason.rdl</FilePath>
</Report>
<Report Name="AVReportRemark">
   <FilePath>AVReportRemark.rdl</FilePath>
</Report>
<Report Name="AVReportStatus">
   <FilePath>AVReportStatus.rdl</FilePath>
</Report>
<Report Name="CompanyMoneyTransfer">
   <FilePath>CompanyMoneyTransfer.rdl</FilePath>
</Report>
<Report Name="EmployeeExpenseStatement">
   <FilePath>EmployeeExpenseStatement.rdl</FilePath>
</Report>
<Report Name="PayrollReport">
   <FilePath>PayrollReport.rdl</FilePath>
</Report>
<Report Name="PettyCashReimbursementDM">
   <FilePath>PettyCashReimbursementDM.rdl</FilePath>
</Report>
<Report Name="PettyCashReimbursementFR">
   <FilePath>PettyCashReimbursementFR.rdl</FilePath>
</Report>
<Report Name="PettyCashReimbursementInvoiceDM">
   <FilePath>PettyCashReimbursementInvoiceDM.rdl</FilePath>
</Report>
<Report Name="PettyCashReimbursementInvoiceFR">
   <FilePath>PettyCashReimbursementInvoiceFR.rdl</FilePath>
</Report>
<Report Name="PettyCashReimbursementInvoiceItemDM">
   <FilePath>PettyCashReimbursementInvoiceItemDM.rdl</FilePath>
</Report>
<Report Name="PettyCashReimbursementInvoiceItemFR">
   <FilePath>PettyCashReimbursementInvoiceItemFR.rdl</FilePath>
</Report>
<Report Name="ReimbursementADVRMT">
   <FilePath>ReimbursementADVRMT.rdl</FilePath>
</Report>
<Report Name="ReimbursementFooter">
   <FilePath>ReimbursementFooter.rdl</FilePath>
</Report>
<Report Name="ReimbursementHeaderDM">
   <FilePath>ReimbursementHeaderDM.rdl</FilePath>
</Report>
<Report Name="ReimbursementHeaderFR">
   <FilePath>ReimbursementHeaderFR.rdl</FilePath>
</Report>
<Report Name="ReimbursementMark">
   <FilePath>ReimbursementMark.rdl</FilePath>
</Report>
<Report Name="ReimbursementReport">
   <FilePath>ReimbursementReport.rdl</FilePath>
</Report>
<Report Name="ReimbursementUnMark">
   <FilePath>ReimbursementUnMark.rdl</FilePath>
</Report>
<Report Name="ReimburseTACheckbox">
   <FilePath>ReimburseTACheckbox.rdl</FilePath>
</Report>
<Report Name="RMTADVReport">
   <FilePath>RMTADVReport.rdl</FilePath>
</Report>
<Report Name="RMTADVReportADVInfo">
   <FilePath>RMTADVReportADVInfo.rdl</FilePath>
</Report>
<Report Name="RMTADVReportHeader">
   <FilePath>RMTADVReportHeader.rdl</FilePath>
</Report>
<Report Name="RMTADVReportRMTInfo">
   <FilePath>RMTADVReportRMTInfo.rdl</FilePath>
</Report>
<Report Name="RMTADVReportStatus">
   <FilePath>RMTADVReportStatus.rdl</FilePath>
</Report>
<Report Name="RMTADVReportStatusApprove">
   <FilePath>RMTADVReportStatusApprove.rdl</FilePath>
</Report>
<Report Name="RMTADVReportVerify">
   <FilePath>RMTADVReportVerify.rdl</FilePath>
</Report>
<Report Name="SummaryAmountByCurrency">
   <FilePath>SummaryAmountByCurrency.rdl</FilePath>
</Report>
<Report Name="SummaryOfTravelAndExpenseReport">
   <FilePath>SummaryOfTravelAndExpenseReport.rdl</FilePath>
</Report>
<Report Name="SuNumberWording">
   <FilePath>SuNumberWording.rdl</FilePath>
</Report>
<Report Name="SuReportReceiveBy">
   <FilePath>SuReportReceiveBy.rdl</FilePath>
</Report>
<Report Name="SuReportStatus">
   <FilePath>SuReportStatus.rdl</FilePath>
</Report>
<Report Name="SuReportStatusApprove">
   <FilePath>SuReportStatusApprove.rdl</FilePath>
</Report>
<Report Name="SuReportStatusInitial">
   <FilePath>SuReportStatusInitial.rdl</FilePath>
</Report>
<Report Name="SuReportStatusIssue">
   <FilePath>SuReportStatusIssue.rdl</FilePath>
</Report>
<Report Name="SuReportStatusVerifyDocumentBy">
   <FilePath>SuReportStatusVerifyDocumentBy.rdl</FilePath>
</Report>
<Report Name="SuReportStausApproveVerifyBy">
   <FilePath>SuReportStausApproveVerifyBy.rdl</FilePath>
</Report>
<Report Name="SuTotalAmount">
   <FilePath>SuTotalAmount.rdl</FilePath>
</Report>
<Report Name="TAReport">
   <FilePath>TAReport.rdl</FilePath>
</Report>
<Report Name="TAReportDetail">
   <FilePath>TAReportDetail.rdl</FilePath>
</Report>
<Report Name="TAReportDetailSchedule">
   <FilePath>TAReportDetailSchedule.rdl</FilePath>
</Report>
<Report Name="TAReportHeader">
   <FilePath>TAReportHeader.rdl</FilePath>
</Report>
<Report Name="TAReportMemo">
   <FilePath>TAReportMemo.rdl</FilePath>
</Report>
<Report Name="VehicleMileageReport">
   <FilePath>VehicleMileageReport.rdl</FilePath>
</Report>


<Report Name="MoneyBuyingRequestLetter">
   <FilePath>MoneyBuyingRequestLetter.rdl</FilePath>
</Report>
<Report Name="MoneySellingRequestLetter">
   <FilePath>MoneySellingRequestLetter.rdl</FilePath>
</Report>
<Report Name="PayInReport">
   <FilePath>PayInReport.rdl</FilePath>
</Report>
<Report Name="SummaryExpenseReport">
   <FilePath>SummaryExpenseReport.rdl</FilePath>
</Report>
</ReportGroup>
</Reports>
		<BinaryFiles>
		<BinaryFilesGroup Name="eAccountingReport" TargetFolder="eAccountingReports"
			ReportServer="RS1">
			<BinaryFile Name="icon_correct">
				<FilePath>icon_correct.gif</FilePath>
			</BinaryFile>
		</BinaryFilesGroup>
	</BinaryFiles>

</Settings>