<?xml version="1.0" encoding="utf-8" ?>
<Settings>
	<Globals>
		<Global Name="ReportServer">scgexpap01</Global>
		<Global Name="ReportServerPath">ReportServer</Global>
		<Global Name="CollapsedHeight">0.5in</Global>
	</Globals>
	<ReportServers>
		<ReportServer Name="RS1" Protocol="http" Host="${ReportServer}" Path="${ReportServerPath}" Timeout="30" />
	</ReportServers>
	<DataSources>
		<DataSource Name="ExpenseDataSource" Publish="true" Overwrite="false" TargetFolder="ExpenseReport" ReportServer="RS1">
			<ConnectionString>data source=scgexpap01;initial catalog=eXpense</ConnectionString>
			<CredentialRetrieval>Store</CredentialRetrieval>
			<WindowsCredentials>False</WindowsCredentials>
			<UserName>sa</UserName>
			<Password>P@ssw0rd</Password>
		</DataSource>
	</DataSources>
		<DBExecutions>
        <DBExecution DataSourceName="ExpenseDataSource">
               <DBFilePath>SCGACC_01_13\20090229_AddDbparameter.sql</DBFilePath>
               <DBFilePath>SCGACC_01_13\20090529_AlterTableSusmsLog.sql</DBFilePath>
        </DBExecution>
       </DBExecutions>
</Settings>