USE [eAccounting]
GO
/****** Object:  View [dbo].[VIEW_POST_GL]    Script Date: 04/20/2009 16:36:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_POST_GL]
AS
SELECT     dbo.BAPIACGL09.DOC_KIND, dbo.BAPIACGL09.DOC_ID, dbo.BAPIACGL09.DOC_SEQ, dbo.BAPIACGL09.ITEMNO_ACC, 
                      dbo.BAPIACGL09.GL_ACCOUNT AS Account, ISNULL(dbo.BAPIACGL09.TAX_CODE, N'NV') AS TAX_CODE, '' AS BaseDate, '' AS PMNTTRMS, 
                      '' AS PYMT_METH, '' AS CURRENCY, dbo.BAPIACCR09.AMT_DOCCUR, dbo.BAPIACGL09.COSTCENTER, dbo.BAPIACGL09.ORDERID AS InterOrder, 
                      '' AS WHTCode1, '' AS WHTBase1, '' AS WHTCode2, '' AS WHTBase2, dbo.BAPIACGL09.ALLOC_NMBR, dbo.BAPIACGL09.ITEM_TEXT, 
                      CASE WHEN BAPIACCR09.AMT_DOCCUR >= 0 THEN '40' WHEN BAPIACCR09.AMT_DOCCUR < 0 THEN '50' END AS PK
FROM         dbo.BAPIACCR09 INNER JOIN
                      dbo.BAPIACGL09 ON dbo.BAPIACCR09.DOC_ID = dbo.BAPIACGL09.DOC_ID AND dbo.BAPIACCR09.DOC_SEQ = dbo.BAPIACGL09.DOC_SEQ AND 
                      dbo.BAPIACCR09.ITEMNO_ACC = dbo.BAPIACGL09.ITEMNO_ACC AND dbo.BAPIACCR09.DOC_KIND = dbo.BAPIACGL09.DOC_KIND

