USE [eAccounting]
GO
/****** Object:  View [dbo].[VIEW_POST_HEAD]    Script Date: 04/20/2009 16:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_POST_HEAD]
AS
SELECT     dbo.BAPIACHE09.DOC_KIND, dbo.BAPIACHE09.DOC_ID, dbo.BAPIACHE09.DOC_SEQ, dbo.BAPIACHE09.FI_DOC, RIGHT(dbo.BAPIACHE09.DOC_DATE, 2)
                       + '.' + SUBSTRING(dbo.BAPIACHE09.DOC_DATE, 3, 2) + '.' + LEFT(dbo.BAPIACHE09.DOC_DATE, 4) AS DOC_DATE, 
                      RIGHT(dbo.BAPIACHE09.PSTNG_DATE, 2) + '.' + SUBSTRING(dbo.BAPIACHE09.PSTNG_DATE, 3, 2) + '.' + LEFT(dbo.BAPIACHE09.PSTNG_DATE, 4) 
                      AS POST_DATE, dbo.BAPIACHE09.DOC_TYPE, dbo.BAPIACHE09.COMP_CODE, dbo.DbCompany.CompanyName, 
                      SUBSTRING(dbo.BAPIACHE09.DOC_DATE, 3, 2) AS PERIOD, LEFT(dbo.BAPIACHE09.DOC_DATE, 4) AS YEAR, dbo.BAPIACEXTC.FIELD2 AS BRNCH, 
                      'THB' AS Currency, dbo.BAPIACHE09.REF_DOC_NO
FROM         dbo.BAPIACHE09 INNER JOIN
                      dbo.BAPIACEXTC ON dbo.BAPIACHE09.DOC_ID = dbo.BAPIACEXTC.DOC_ID AND dbo.BAPIACHE09.DOC_SEQ = dbo.BAPIACEXTC.DOC_SEQ AND 
                      dbo.BAPIACHE09.DOC_KIND = dbo.BAPIACEXTC.DOC_KIND INNER JOIN
                      dbo.DbCompany ON dbo.BAPIACHE09.COMP_CODE = dbo.DbCompany.CompanyCode
WHERE     (dbo.BAPIACEXTC.FIELD1 = N'BRNCH')

