USE [eAccounting]
GO
/****** Object:  View [dbo].[VIEW_POST_AR]    Script Date: 04/20/2009 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_POST_AR]
AS
SELECT     dbo.BAPIACAR09.DOC_KIND, dbo.BAPIACAR09.DOC_ID, dbo.BAPIACAR09.DOC_SEQ, dbo.BAPIACAR09.ITEMNO_ACC, 
                      dbo.BAPIACAR09.CUSTOMER AS Account, dbo.BAPIACAR09.TAX_CODE, dbo.BAPIACAR09.BLINE_DATE AS BaseDate, '' AS PMNTTRMS, 
                      '' AS PYMT_METH, '' AS CURRENCY, dbo.BAPIACCR09.AMT_DOCCUR, '' AS CostCenter, '' AS InterOrder, '' AS WHTCode1, '' AS WHTBase1, 
                      '' AS WHTCode2, '' AS WHTBase2, dbo.BAPIACAR09.ALLOC_NMBR, dbo.BAPIACAR09.ITEM_TEXT, CASE WHEN ISNULL(BAPIACAR09.SP_GL_IND, '') 
                      = '' AND BAPIACCR09.AMT_DOCCUR >= 0 THEN '01' WHEN ISNULL(BAPIACAR09.SP_GL_IND, '') = '' AND 
                      BAPIACCR09.AMT_DOCCUR < 0 THEN '11' WHEN ISNULL(BAPIACAR09.SP_GL_IND, '') <> '' AND 
                      BAPIACCR09.AMT_DOCCUR >= 0 THEN '09' + BAPIACAR09.SP_GL_IND WHEN ISNULL(BAPIACAR09.SP_GL_IND, '') <> '' AND 
                      BAPIACCR09.AMT_DOCCUR < 0 THEN '19' + BAPIACAR09.SP_GL_IND END AS PK
FROM         dbo.BAPIACAR09 INNER JOIN
                      dbo.BAPIACCR09 ON dbo.BAPIACAR09.DOC_ID = dbo.BAPIACCR09.DOC_ID AND dbo.BAPIACAR09.DOC_SEQ = dbo.BAPIACCR09.DOC_SEQ AND 
                      dbo.BAPIACAR09.ITEMNO_ACC = dbo.BAPIACCR09.ITEMNO_ACC AND dbo.BAPIACAR09.DOC_KIND = dbo.BAPIACCR09.DOC_KIND

