<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCG.DB.DTO.Properties.Settings.eXpense2011ConnectionString"
            connectionString="Data Source=hqsqlsvr\scg;Initial Catalog=eXpense2011;Persist Security Info=True;User ID=sa;Password=sa@SCG"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>