<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <applicationSettings>
    <SCG.eAccounting.Web.Properties.Settings>
      <setting name="SCG_eAccounting_Web_ReportExecution2005_ReportExecutionService"
        serializeAs="String">
        <value>http://hqsqlsvr/ReportServer$SCG/ReportExecution2005.asmx</value>
      </setting>
    </SCG.eAccounting.Web.Properties.Settings>
  </applicationSettings>
  
</configuration>