<?xml version="1.0" encoding="utf-8" ?>
<Settings>
	<Authentication>
		<ServerName>SSNB-51-015</ServerName>
		<UserName>apidesh_w</UserName>
		<Password>xxxxx</Password>
    </Authentication>
	<OverDate>
		<Days>10</Days>
    </OverDate>
	<FolderRootPathNames>
		<FolderRootName Name="Root1">
			<PathName>C:\Test1</PathName>
		</FolderRootName>
		<FolderRootName Name="Root2">
			<PathName>C:\Test2</PathName>
		</FolderRootName>
	</FolderRootPathNames>
<Folders>
				<FolderName Name="Ext1" RootName="Root1">
				<Extension>bak</Extension>
				<Extension>txt</Extension>
				<Extension>png</Extension>
		</FolderName>
				<FolderName Name="Ext2" RootName="Root1">
				<Extension>bak</Extension>
				<Extension>txt</Extension>
		</FolderName>
				<FolderName Name="Ext1" RootName="Root2">
				<Extension>bak</Extension>
				<Extension>txt</Extension>
		</FolderName>
				<FolderName Name="Ext2" RootName="Root2">
				<Extension>bak</Extension>
				<Extension>txt</Extension>
		</FolderName>
</Folders>
<Files>
		<FolderFilesName Name="Ext1" RootName="Root1">
				<FileName>test1.txt.bak</FileName>
				<FileName>test1.txt</FileName>
		</FolderFilesName>
		<FolderFilesName Name="Ext2" RootName="Root2">
				<FileName>test1.txt.bak</FileName>
				<FileName>test1.txt</FileName>
		</FolderFilesName>
</Files>
</Settings>