USE [eAccounting]
GO
/****** Object:  StoredProcedure [dbo].[VIEW_POSTING]    Script Date: 04/20/2009 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VIEW_POSTING]
	@DOCUMENT_ID varchar(20),
	@DOCUMENT_KIND varchar(50)
AS
BEGIN

-- #####################################
-- Head SEQ = M
-- #####################################
SELECT     BAPIACHE09.DOC_KIND, BAPIACHE09.DOC_ID, BAPIACHE09.DOC_SEQ, BAPIACHE09.FI_DOC, RIGHT(BAPIACHE09.DOC_DATE, 2)
                       + '.' + SUBSTRING(BAPIACHE09.DOC_DATE, 3, 2) + '.' + LEFT(BAPIACHE09.DOC_DATE, 4) AS DOC_DATE, 
                      RIGHT(BAPIACHE09.PSTNG_DATE, 2) + '.' + SUBSTRING(BAPIACHE09.PSTNG_DATE, 3, 2) + '.' + LEFT(BAPIACHE09.PSTNG_DATE, 4) 
                      AS POST_DATE, BAPIACHE09.DOC_TYPE, BAPIACHE09.COMP_CODE, DbCompany.CompanyName, 
                      SUBSTRING(BAPIACHE09.DOC_DATE, 3, 2) AS PERIOD, LEFT(BAPIACHE09.DOC_DATE, 4) AS YEAR, BAPIACEXTC.FIELD2 AS BRNCH, 
                      'THB' AS Currency, BAPIACHE09.REF_DOC_NO
FROM         BAPIACHE09 INNER JOIN
                      BAPIACEXTC ON BAPIACHE09.DOC_ID = BAPIACEXTC.DOC_ID AND BAPIACHE09.DOC_SEQ = BAPIACEXTC.DOC_SEQ AND 
                      BAPIACHE09.DOC_KIND = BAPIACEXTC.DOC_KIND INNER JOIN
                      DbCompany ON BAPIACHE09.COMP_CODE = DbCompany.CompanyCode
WHERE     
	(BAPIACEXTC.FIELD1 = N'BRNCH') AND 
	BAPIACHE09.DOC_SEQ = 'M' AND 
	BAPIACHE09.DOC_ID = @DOCUMENT_ID AND
	BAPIACHE09.DOC_KIND = @DOCUMENT_KIND

-- #####################################
-- Head SEQ = NOT M
-- #####################################
SELECT     BAPIACHE09.DOC_KIND, BAPIACHE09.DOC_ID, BAPIACHE09.DOC_SEQ, BAPIACHE09.FI_DOC, RIGHT(BAPIACHE09.DOC_DATE, 2)
                       + '.' + SUBSTRING(BAPIACHE09.DOC_DATE, 3, 2) + '.' + LEFT(BAPIACHE09.DOC_DATE, 4) AS DOC_DATE, 
                      RIGHT(BAPIACHE09.PSTNG_DATE, 2) + '.' + SUBSTRING(BAPIACHE09.PSTNG_DATE, 3, 2) + '.' + LEFT(BAPIACHE09.PSTNG_DATE, 4) 
                      AS POST_DATE, BAPIACHE09.DOC_TYPE, BAPIACHE09.COMP_CODE, DbCompany.CompanyName, 
                      SUBSTRING(BAPIACHE09.DOC_DATE, 3, 2) AS PERIOD, LEFT(BAPIACHE09.DOC_DATE, 4) AS YEAR, BAPIACEXTC.FIELD2 AS BRNCH, 
                      'THB' AS Currency, BAPIACHE09.REF_DOC_NO
FROM         BAPIACHE09 INNER JOIN
                      BAPIACEXTC ON BAPIACHE09.DOC_ID = BAPIACEXTC.DOC_ID AND BAPIACHE09.DOC_SEQ = BAPIACEXTC.DOC_SEQ AND 
                      BAPIACHE09.DOC_KIND = BAPIACEXTC.DOC_KIND INNER JOIN
                      DbCompany ON BAPIACHE09.COMP_CODE = DbCompany.CompanyCode
WHERE     
	(BAPIACEXTC.FIELD1 = N'BRNCH') AND 
	BAPIACHE09.DOC_SEQ <> 'M' AND 
	BAPIACHE09.DOC_ID = @DOCUMENT_ID AND
	BAPIACHE09.DOC_KIND = @DOCUMENT_KIND

-- #####################################
-- Detail
-- #####################################
SELECT * 
INTO #VIEW_TEMP
FROM 
(

(
SELECT     BAPIACAP09.DOC_KIND, BAPIACAP09.DOC_ID, BAPIACAP09.DOC_SEQ, BAPIACAP09.ITEMNO_ACC, 
                      BAPIACAP09.VENDOR_NO AS Account, ISNULL(BAPIACAP09.TAX_CODE, N'NV') AS TAX_CODE, RIGHT(BAPIACAP09.BLINE_DATE, 2) 
                      + '/' + SUBSTRING(BAPIACAP09.BLINE_DATE, 3, 2) + '/' + LEFT(BAPIACAP09.BLINE_DATE, 4) AS BaseDate, BAPIACAP09.PMNTTRMS, 
                      BAPIACAP09.PYMT_METH, BAPIACCR09.CURRENCY, BAPIACCR09.AMT_DOCCUR, '' AS CostCenter, '' AS InterOrder, 
                      CASE WHEN BAPIACAP09.VENDOR_NO = 'PCADVCL' THEN ISNULL
                          ((SELECT     FIELD3
                              FROM         BAPIACEXTC
                              WHERE     DOC_ID = BAPIACAP09.DOC_ID AND DOC_SEQ = BAPIACAP09.DOC_SEQ AND FIELD1 = 'WTH1'), '') ELSE '' END AS WHTCode1, 
                      CASE WHEN BAPIACAP09.VENDOR_NO = 'PCADVCL' THEN ISNULL
                          ((SELECT     FIELD4
                              FROM         BAPIACEXTC
                              WHERE     DOC_ID = BAPIACAP09.DOC_ID AND DOC_SEQ = BAPIACAP09.DOC_SEQ AND FIELD1 = 'WTH1'), '') ELSE '' END AS WHTBase1, 
                      CASE WHEN BAPIACAP09.VENDOR_NO = 'PCADVCL' THEN ISNULL
                          ((SELECT     FIELD3
                              FROM         BAPIACEXTC
                              WHERE     DOC_ID = BAPIACAP09.DOC_ID AND DOC_SEQ = BAPIACAP09.DOC_SEQ AND FIELD1 = 'WTH2'), '') ELSE '' END AS WHTCode2, 
                      CASE WHEN BAPIACAP09.VENDOR_NO = 'PCADVCL' THEN ISNULL
                          ((SELECT     FIELD4
                              FROM         BAPIACEXTC
                              WHERE     DOC_ID = BAPIACAP09.DOC_ID AND DOC_SEQ = BAPIACAP09.DOC_SEQ AND FIELD1 = 'WTH2'), '') ELSE '' END AS WHTBase2, 
                      BAPIACAP09.ALLOC_NMBR, BAPIACAP09.ITEM_TEXT, CASE WHEN ISNULL(BAPIACAP09.SP_GL_IND, '') = '' AND 
                      BAPIACCR09.AMT_DOCCUR >= 0 THEN '21' WHEN ISNULL(BAPIACAP09.SP_GL_IND, '') = '' AND 
                      BAPIACCR09.AMT_DOCCUR < 0 THEN '31' WHEN ISNULL(BAPIACAP09.SP_GL_IND, '') <> '' AND 
                      BAPIACCR09.AMT_DOCCUR >= 0 THEN '29E' WHEN ISNULL(BAPIACAP09.SP_GL_IND, '') <> '' AND 
                      BAPIACCR09.AMT_DOCCUR < 0 THEN '39E' END AS PK
FROM         BAPIACAP09 INNER JOIN
                      BAPIACCR09 ON BAPIACAP09.DOC_ID = BAPIACCR09.DOC_ID AND BAPIACAP09.DOC_SEQ = BAPIACCR09.DOC_SEQ AND 
                      BAPIACAP09.ITEMNO_ACC = BAPIACCR09.ITEMNO_ACC AND BAPIACAP09.DOC_KIND = BAPIACCR09.DOC_KIND
)
UNION
(
SELECT     BAPIACAR09.DOC_KIND, BAPIACAR09.DOC_ID, BAPIACAR09.DOC_SEQ, BAPIACAR09.ITEMNO_ACC, 
                      BAPIACAR09.CUSTOMER AS Account, BAPIACAR09.TAX_CODE, BAPIACAR09.BLINE_DATE AS BaseDate, '' AS PMNTTRMS, 
                      '' AS PYMT_METH, '' AS CURRENCY, BAPIACCR09.AMT_DOCCUR, '' AS CostCenter, '' AS InterOrder, '' AS WHTCode1, '' AS WHTBase1, 
                      '' AS WHTCode2, '' AS WHTBase2, BAPIACAR09.ALLOC_NMBR, BAPIACAR09.ITEM_TEXT, CASE WHEN ISNULL(BAPIACAR09.SP_GL_IND, '') 
                      = '' AND BAPIACCR09.AMT_DOCCUR >= 0 THEN '01' WHEN ISNULL(BAPIACAR09.SP_GL_IND, '') = '' AND 
                      BAPIACCR09.AMT_DOCCUR < 0 THEN '11' WHEN ISNULL(BAPIACAR09.SP_GL_IND, '') <> '' AND 
                      BAPIACCR09.AMT_DOCCUR >= 0 THEN '09' + BAPIACAR09.SP_GL_IND WHEN ISNULL(BAPIACAR09.SP_GL_IND, '') <> '' AND 
                      BAPIACCR09.AMT_DOCCUR < 0 THEN '19' + BAPIACAR09.SP_GL_IND END AS PK
FROM         BAPIACAR09 INNER JOIN
                      BAPIACCR09 ON BAPIACAR09.DOC_ID = BAPIACCR09.DOC_ID AND BAPIACAR09.DOC_SEQ = BAPIACCR09.DOC_SEQ AND 
                      BAPIACAR09.ITEMNO_ACC = BAPIACCR09.ITEMNO_ACC AND BAPIACAR09.DOC_KIND = BAPIACCR09.DOC_KIND
)
UNION
(
SELECT     BAPIACGL09.DOC_KIND, BAPIACGL09.DOC_ID, BAPIACGL09.DOC_SEQ, BAPIACGL09.ITEMNO_ACC, 
                      BAPIACGL09.GL_ACCOUNT AS Account, ISNULL(BAPIACGL09.TAX_CODE, N'NV') AS TAX_CODE, '' AS BaseDate, '' AS PMNTTRMS, 
                      '' AS PYMT_METH, '' AS CURRENCY, BAPIACCR09.AMT_DOCCUR, BAPIACGL09.COSTCENTER, BAPIACGL09.ORDERID AS InterOrder, 
                      '' AS WHTCode1, '' AS WHTBase1, '' AS WHTCode2, '' AS WHTBase2, BAPIACGL09.ALLOC_NMBR, BAPIACGL09.ITEM_TEXT, 
                      CASE WHEN BAPIACCR09.AMT_DOCCUR >= 0 THEN '40' WHEN BAPIACCR09.AMT_DOCCUR < 0 THEN '50' END AS PK
FROM         BAPIACCR09 INNER JOIN
                      BAPIACGL09 ON BAPIACCR09.DOC_ID = BAPIACGL09.DOC_ID AND BAPIACCR09.DOC_SEQ = BAPIACGL09.DOC_SEQ AND 
                      BAPIACCR09.ITEMNO_ACC = BAPIACGL09.ITEMNO_ACC AND BAPIACCR09.DOC_KIND = BAPIACGL09.DOC_KIND
)
UNION
(
SELECT     BAPIACTX09.DOC_KIND, BAPIACTX09.DOC_ID, BAPIACTX09.DOC_SEQ, BAPIACTX09.ITEMNO_ACC, 
                      BAPIACTX09.GL_ACCOUNT AS Account, BAPIACTX09.TAX_CODE, '' AS BaseDate, '' AS PMNTTRMS, '' AS PYMT_METH, '' AS CURRENCY, 
                      BAPIACCR09.AMT_DOCCUR, '' AS CostCenter, '' AS InterOrder, '' AS WHTCode1, '' AS WHTBase1, '' AS WHTCode2, '' AS WHTBase2, 
                      '' AS ALLOC_NMBR, '' AS ITEM_TEXT, 
                      CASE WHEN BAPIACCR09.AMT_DOCCUR >= 0 THEN '40' WHEN BAPIACCR09.AMT_DOCCUR < 0 THEN '50' END AS PK
FROM         BAPIACTX09 INNER JOIN
                      BAPIACCR09 ON BAPIACTX09.DOC_ID = BAPIACCR09.DOC_ID AND BAPIACTX09.DOC_SEQ = BAPIACCR09.DOC_SEQ AND 
                      BAPIACTX09.ITEMNO_ACC = BAPIACCR09.ITEMNO_ACC AND BAPIACTX09.DOC_KIND = BAPIACCR09.DOC_KIND
)

) AS POSTING
WHERE DOC_ID = @DOCUMENT_ID AND DOC_KIND = @DOCUMENT_KIND
ORDER BY DOC_ID,DOC_SEQ,ITEMNO_ACC

-- #####################################
-- Detail Main
-- #####################################
SELECT * 
FROM #VIEW_TEMP 
WHERE DOC_SEQ = 'M'
ORDER BY DOC_ID,DOC_SEQ,ITEMNO_ACC
-- #####################################
-- Detail Detail
-- #####################################
SELECT * 
FROM #VIEW_TEMP 
WHERE DOC_SEQ <> 'M'
ORDER BY DOC_ID,DOC_SEQ,ITEMNO_ACC

DROP TABLE #VIEW_TEMP

END




