<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Untitled Page</title>
    <style type="text/css">
        </style>
</head>
<body style="font-family: Tahoma">

    <p> Please approve expense of $requester$ THB $$ </p>
    <p> Ref. A0092</p>
    <p> Please approve advance of $requester$ THB $$ </p>
    <p> Ref. A0092</p>
    <p> Note: </p>
    <p> User ตอบ message โดยการพิมพ์ A0092Y หรือ A0092N </p>

</body>
</html>
