<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  
  <!--<common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="Configurations/Log4Net.xml" />
      </factoryAdapter>
    </logging>
  </common>-->



  <configSections>
    <sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>

    <!--<sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>-->
    
  </configSections>
  <spring>
    <parsers>
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>

  </spring>



  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PDF Creator Web ServiceSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PDF Creator Web ServiceSoap1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.0.42/PdfCreator/PDFCreatorWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PDF Creator Web ServiceSoap"
        contract="SCG.Webservice.PDFCreatorWebServiceSoap" name="PDF Creator Web ServiceSoap" />
      <endpoint address="http://172.16.0.42/PdfCreator/PDFCreatorWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PDF Creator Web ServiceSoap1"
        contract="PDFService.PDFCreatorWebServiceSoap" name="PDF Creator Web ServiceSoap1" />
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="ReportUserName" value="eAccount"    />
    <add key="ReportPassword"  value="p@ssw0rd"  />
    <add key="ReportDomain" value="HQSQLSVR"  />
  </appSettings>
  
</configuration>