<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>  
    <connectionStrings>
        <add name="SCG.eAccounting.DTO.Properties.Settings.eXpenseConnectionString"
            connectionString="Data Source=172.24.0.46\SQL2012;Initial Catalog=eXpense;Persist Security Info=True;User ID=sa;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
        <add name="SCG.eAccounting.DTO.Properties.Settings.eAccountingConnectionString"
            connectionString="Data Source=HQSQLSVR\SCG;Initial Catalog=eXpense2011;Persist Security Info=True;User ID=sa;Password=sa@SCG"
            providerName="System.Data.SqlClient" />
        <add name="SCG.eAccounting.DTO.Properties.Settings.eAccounting_SCGPrdConnectionString"
            connectionString="Data Source=HQSQLSVR\SCG;Initial Catalog=eAccounting-SCGPrd;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SCG.eAccounting.DTO.Properties.Settings.eXpense2011ConnectionString"
            connectionString="Data Source=HQSQLSVR\SCG;Initial Catalog=eXpense2011;Persist Security Info=True;User ID=sa;Password=sa@SCG"
            providerName="System.Data.SqlClient" />
        <add name="SCG.eAccounting.DTO.Properties.Settings.eXpenseECCConnectionString"
            connectionString="Data Source=172.24.0.46\SQL2012;Initial Catalog=eXpenseECC;User ID=sa;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
        <add name="SCG.eAccounting.DTO.Properties.Settings.expenseECCConnectionString1"
            connectionString="Data Source=FSDBSVR3\SQL2012;Initial Catalog=expenseECC;User ID=sa;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>